.fields {
    display: grid;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    font-weight: bold;
    font-style: italic;
    margin-top: 1%;
}

.input {
    background-color: white;
    border: double black;
    border-radius: 5%;
}

.page_header {
    font-family:'Times New Roman', Times, serif;
    font-size: 250%;
}

.submit {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    background-color: whitesmoke;
    border: double black;
    border-radius: 15%;
}

.signup_text {
    text-align: center;
    background-color: white;
    border: none; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    font-weight: bold;
}
  
.signup_click {
    text-align: center;
    background-color: white;
    border: none; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    font-weight: bold;
    color: blue;
}