.info_card {
    border: 2px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.product-card {
    border: double black;
    border-radius: 5%;
    padding: 2%;
    width: 50%;
    text-align: center;
}

.submit {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    background-color: whitesmoke;
    border: double black;
    border-radius: 15%;
}

.product_list {
    display: grid;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}